<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
                    
                    <key>CFBundleURLTypes</key>
                         <array>
                             <dict>
                                <!--              Google client id                   -->
                                 <key>com.googleusercontent.apps.125178393671-u40p3m8s6n5b7kgqomeka0fc90128u28</key>
                                 <array>
                                     <string>myapp</string>
                                 </array>
                             </dict>
                         </array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
